.App {
  text-align: center;
  /*background-color: rgb(0, 180, 240);*/
}

.logoContainer {
  background: linear-gradient(to right, white 50%, #00b4f0 50.001%);
}

.logo {
  height: 100%;
}

.BoardTitle {
  border: 0px; 
  height: 56px; 
  display: flex; 
  justify-content: space-between;
}

.logo-and-logout{
  overflow: hidden;
  text-align: left;
  width: 300px;
  background-color: rgb(0, 180, 240);
}
.logo-and-logout a{
  padding-left: 3rem;
  color: white;
}

.titleText {
  border: 0px; 
  padding-right: 16px; 
  line-height: 52px; 
  font-size: 20px; 
  position: relative; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  display: flex; 
  border-color: rgb(0, 0, 0);
  width: 100%;
  outline: none;
}

.TextField {
  float: left;
  resize: none;
  height: 200px;
  width: 33.33%;
  border-right: none;
  outline: none;
  border-color: rgb(0, 180, 240);
}

.free-form-fields {
  margin-bottom: 5%;
}

.flex-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-width: 5px;
  border-color: blue;
}

.storyMain:not(:first-child) {
  margin-top: 3rem;
}

.StoryTitle {
  border: 0px;
  font-size: 24px;
}

.story-status, .story-move-up, .story-move-down {
  float: left;
  align-content: center;
}

.StoryActions {
  width: 100%;
  float: left;
  padding-left: 35%;
}

.story-heading {
  margin-bottom: 1rem;
  overflow:  hidden;
  border-bottom: 1px solid #0ab3f2;
}

.story-button {
  margin: 0px;
  border: 0px;
}

.story-text {
  text-align: center;
}

.task {
  width: 90px;
  height: 90px;
  float: left;
}

.task-text {
  border-width: 1px;

}

.TaskColumn {
  font-size: 20px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}