.App {
  text-align: center;
  background-color: rgb(0, 180, 240);
}

.logo {
  width: 25%;
  height: 25%;
}

.BoardTitle {
  border: 0px; 
  background-color: rgb(232, 232, 232); 
  height: 56px; 
  padding: 0px 24px; 
  display: flex; 
  justify-content: space-between;
  /*border-color: rgb(0, 0, 0);*/
}

.titleText {
  border: 0px; 
  padding-right: 16px; 
  line-height: 52px; 
  font-size: 20px; 
  font-family: Roboto, sans-serif; 
  position: relative; 
  text-overflow: ellipsis; 
  white-space: nowrap; 
  overflow: hidden; 
  display: flex; 
  background-color: rgb(232, 232, 232);
  border-color: rgb(0, 0, 0);
}

.TextField {
  float: left;
  resize: none;
  height: 200px;
  width: 32.55%;
}

.free-form-fields {
  margin-bottom: 5%;
}

.flex-box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-width: 5px;
  border-color: blue;
}

.StoryTitle {
  border: 0px;
  font-size: 24px;
}

.story-status, .story-move-up, .story-move-down {
  float: left;
  align-content: center;
}

.StoryActions {
  width: 100%;
  float: left;
  padding-left: 35%;
}

.story-button {
  margin: 0px;
  border: 0px;
}

.story-text {
  text-align: center;
}

.task {
  width: 90px;
  height: 90px;
  float: left;
}

.task-text {
  border-width: 1px;

}

.TaskColumn {
  font-size: 20px;
}

